In [1]:
import pymongo as pmg
import pandas as pd
import datetime as dt
import pymysql
import matplotlib.pyplot as plt
from matplotlib.lines import TICKLEFT, TICKRIGHT, Line2D
from matplotlib.patches import Rectangle
import matplotlib as mpl
import matplotlib.dates as mdate
from datetime import time
from KRData.HKData import HKFuture
import configparser
import talib as tb

In [2]:
conf_parser = configparser.ConfigParser()
conf_parser.read( 'conf.ini')
mg_host = conf_parser.get('MGDB', 'host')
mg_user = conf_parser.get('MGDB', 'user')
mg_password = conf_parser.get('MGDB', 'password')
hk=HKFuture(pwd=mg_password,host=mg_host,user=mg_user)
begin='2014-01-01'
dt1=dt.datetime.now()
_fields = ['datetime', 'code', 'open', 'high', 'low', 'close', 'vol']
df1=hk.get_main_contract_bars('HSI', _fields, begin)
print(dt.datetime.now()-dt1)

0:00:59.535022

In [2]:
#df1.to_pickle("pkl/hsi.pkl")
df1=pd.read_pickle("pkl/hsi.pkl")

In [3]:
dt1=dt.datetime.now()
df1['MACD'],df1['MACD1'],df1['MACD2']=tb.MACD(df1.close.values,fastperiod=6,slowperiod=12,signalperiod=9)
df1['MA30']=tb.EMA(df1.close.values,timeperiod=30)
df1['MA60']=tb.EMA(df1.close.values,timeperiod=60)
df1['CHG']=df1['close']-df1['open']
df1['STD60']=tb.STDDEV(df1['CHG'].values,timeperiod=60)
df1['STD1']=df1['CHG']/df1['STD60']
print(dt.datetime.now()-dt1)

0:00:00.362242

In [4]:
time1=dt.datetime.now()
ref_MACD=0
MACD_In=0
MA60_In=0
Dict_MACD={}
Dict_MA60={}
Res_MACD=[]
Res_MA60=[]
Dict_MACD['State']=0
MACD_NO=0
Dict_MA60['State']=0
ref_Close=0
dt1=dt.time(9,15,0)
dt2=dt.time(16,30,0)
for i,row in df1.iterrows():
    #持续MACD红区
    cont1=row["MACD"]>0 and Dict_MACD['State']==1
    #持续MACD绿区
    cont2=row['MACD']<0 and Dict_MACD['State']==-1
    #转MACD红区
    cont3=row['MACD']>0 and Dict_MACD['State']<=0
    #l转MACD绿区
    cont4=row['MACD']<0 and Dict_MACD['State']>=0
    
    #持续MA60红区
    cont5=row["close"]>row['MA60'] and Dict_MA60['State']==1
    #持续MA60绿区
    cont6=row['close']<row['MA60'] and Dict_MA60['State']==-1
    #转MA60红区
    cont7=row['close']>=row['MA60'] and Dict_MA60['State']<=0
    #l转MA60绿区
    cont8=row['close']<row['MA60'] and Dict_MA60['State']>=0
    
    #MA60计算
    if cont7 or cont8:
        #rec
        if MA60_In>0:
            Dict_MA60['Close']=row['MA60']
            Dict_MA60['End']=i
            if i.time()>dt2 or i.time()<dt1:
                Dict_MA60['Day']=0
            else:
                Dict_MA60['Day']=1
            Res_MA60.append(Dict_MA60)
            Dict_MA60={}
        Dict_MA60['Index']=MA60_In
        Dict_MA60['Begin']=i
        Dict_MA60['Open']=row['close']
        Dict_MA60['High']=row['close']
        Dict_MA60['Low']=row['close']
        Dict_MA60['Count']=1
        Dict_MA60['Std1']=1 if row['STD1']>=1.5 else 0
        Dict_MA60['Std2']=1 if row['STD1']<=-1.5 else 0
        MA60_In+=1
        Dict_MA60['State']=1 if cont7 else -1
        MACD_NO=0
    elif cont5 or cont6:
        Dict_MA60['Count']+=1
        
        if row['STD1']>=1.5:
            Dict_MA60['Std1']+=1
        elif row['STD1']<=-1.5:
            Dict_MA60['Std2']+=1
            
        if row['close']>Dict_MA60['High']:
            Dict_MA60['High']=row['close']
        elif row['close']<Dict_MA60['Low']:
            Dict_MA60['Low']=row['close']
    
    #MACD计算
    if cont3 or cont4:
        #rec
        #Type 1 B&E>0 3 B>0&E<0 2 B&E<0 4 B<0&E>0
        if MACD_In>0:
            if Dict_MA60['State']==1:
                MACD_NO+=1
            elif Dict_MA60['State']==-1:
                MACD_NO+=-1
            Dict_MACD['No']=MACD_NO
            Dict_MACD['Close']=row['close']
            Dict_MACD['End']=i
#             print(Dict_MACD['Type'],row["close"],row["MA60"])
            if Dict_MACD['Type']==1 and row["close"]>row['MA60']:
                Dict_MACD['Type']=3
            elif Dict_MACD['Type']==1 and row["close"]<row['MA60']:
                Dict_MACD['Type']=5
            elif Dict_MACD['Type']==2 and row["close"]<row['MA60']:
                Dict_MACD['Type']=4
            elif Dict_MACD['Type']==2 and row["close"]>row['MA60']:
                Dict_MACD['Type']=6
                
            if i.time()>dt2 or i.time()<dt1:
                Dict_MACD['Day']=0
            else:
                Dict_MACD['Day']=1
            Res_MACD.append(Dict_MACD)
            Dict_MACD={}
            Dict_MACD['Type']=0
            
        Dict_MACD['Index']=MACD_In
        Dict_MACD['Begin']=i
        Dict_MACD['Open']=row['close']
        Dict_MACD['High']=row['close']
        Dict_MACD['Low']=row['close']
        Dict_MACD['Count']=1
        Dict_MACD['Std1']=1 if row['STD1']>=1.5 else 0
        Dict_MACD['Std2']=1 if row['STD1']<=-1.5 else 0
        MACD_In+=1
#         print(MACD_In)
        Dict_MACD['State']=1 if cont3 else -1
        Dict_MACD['Type']=1 if row["close"]>row['MA60'] else 2
    elif cont1 or cont2:
        Dict_MACD['Count']+=1
        ref_Close=row['close']
        
        if row['STD1']>=1.5:
            Dict_MACD['Std1']+=1
        elif row['STD1']<=-1.5:
            Dict_MACD['Std2']+=1
            
        if row['close']>Dict_MACD['High']:
            Dict_MACD['High']=row['close']
        elif row['close']<Dict_MACD['Low']:
            Dict_MACD['Low']=row['close']
time2=dt.datetime.now()
print(time2-time1)

0:02:44.288589

In [5]:
Ma60=pd.DataFrame(Res_MA60)
Ma60['Diff']=Ma60['Close']-Ma60['Open']
Ma60.head()

,Begin,Close,Count,Day,End,High,Index,Low,Open,State,Std1,Std2,Diff
0,2014-01-02 10:14:00,23236.056955,89,1,2014-01-02 11:43:00,23350.0,0,23184.0,23299.0,-1,2,6,-62.943045
1,2014-01-02 11:43:00,23235.825580,1,1,2014-01-02 11:44:00,23243.0,1,23243.0,23243.0,1,0,0,-7.174420
2,2014-01-02 11:44:00,23235.280723,3,1,2014-01-02 11:47:00,23229.0,2,23227.0,23229.0,-1,0,0,6.280723
3,2014-01-02 11:47:00,23257.329920,26,1,2014-01-02 13:13:00,23293.0,3,23236.0,23236.0,1,2,0,21.329920
4,2014-01-02 13:13:00,23257.483037,1,1,2014-01-02 13:14:00,23255.0,4,23255.0,23255.0,-1,0,1,2.483037

In [13]:
Calc=['sum','max','min','mean','std','count']
# Ma60[(Ma60.State==1) & (Ma60.Day==0)].groupby('Std1')['Diff'].agg(Calc)
Ma60[Ma60.Day==1].groupby('State')['Diff'].agg(Calc)

                 sum         max          min      mean        std  count
State
-1    -114882.090881  303.318723 -1385.882749 -6.110424  44.461035  18801
 1     114962.007296  966.291834  -223.709106  6.106555  39.984369  18826

In [6]:
MACD=pd.DataFrame(Res_MACD)
MACD['Diff']=MACD['Close']-MACD['Open']
MACD.head(5)

,Begin,Close,Count,Day,End,High,Index,Low,No,Open,State,Std1,Std2,Type,Diff
0,2014-01-02 09:34:00,23430.0,2,1,2014-01-02 09:36:00,23466.0,0,23439.0,0,23466.0,1,0,0,2,-36.0
1,2014-01-02 09:36:00,23350.0,42,1,2014-01-02 10:18:00,23430.0,1,23299.0,-1,23430.0,-1,0,0,4,-80.0
2,2014-01-02 10:18:00,23316.0,17,1,2014-01-02 10:35:00,23350.0,2,23337.0,-2,23350.0,1,0,0,4,-34.0
3,2014-01-02 10:35:00,23237.0,32,1,2014-01-02 11:07:00,23316.0,3,23188.0,-3,23316.0,-1,2,6,4,-79.0
4,2014-01-02 11:07:00,23210.0,13,1,2014-01-02 11:20:00,23244.0,4,23222.0,-4,23237.0,1,0,0,4,-27.0

In [7]:
Calc=['sum','max','min','mean','std','count']
MACD[(MACD.State==1) & (MACD.Day==1)].groupby('Std1')['Diff'].agg(Calc)
MACD[(MACD.State==-1)].groupby('No')['Diff'].agg(Calc)
# MACD[(MACD.State==-1) & (MACD.Day==1)].groupby('Std2')['Diff'].agg(Calc)
MACD.groupby(['State','Type'])['Diff'].agg(Calc)

                 sum    max    min       mean        std  count
State Type
-1    3     110375.0  820.0 -143.0   8.556202  17.462512  12900
      4    -140082.0  133.0 -810.0 -12.215033  46.922492  11468
      5     -95437.0   -1.0 -775.0 -51.448518  61.800610   1855
      6     141439.0  594.0  -79.0  14.411963  20.084387   9814
 1    2        -36.0  -36.0  -36.0 -36.000000        NaN      1
      3     143333.0  589.0 -235.0  11.096462  40.876158  12917
      4    -109292.0  116.0 -992.0  -9.516064  22.150675  11485
      5    -140057.0   76.0 -566.0 -14.295907  19.704004   9797
      6      95392.0  893.0    2.0  51.899891  65.373187   1838

In [15]:
dt1=dt.time(9,15,0)
dt1=dt.time(16,30,0)
df1[df1.index.time>=dt1]

,datetime,code,open,high,low,close,MACD,MACD1,MACD2,MA30,MA60,CHG,STD60,STD1
datetime,,,,,,,,,,,,,,
2014-01-02 09:15:00,2014-01-02 09:15:00,HSI1401,23414.0,23416.0,23370.0,23376.0,NaN,NaN,NaN,NaN,NaN,-38.0,NaN,NaN
2014-01-02 09:16:00,2014-01-02 09:16:00,HSI1401,23376.0,23394.0,23360.0,23394.0,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
2014-01-02 09:17:00,2014-01-02 09:17:00,HSI1401,23395.0,23444.0,23391.0,23431.0,NaN,NaN,NaN,NaN,NaN,36.0,NaN,NaN
2014-01-02 09:18:00,2014-01-02 09:18:00,HSI1401,23432.0,23435.0,23419.0,23423.0,NaN,NaN,NaN,NaN,NaN,-9.0,NaN,NaN
2014-01-02 09:19:00,2014-01-02 09:19:00,HSI1401,23426.0,23426.0,23390.0,23401.0,NaN,NaN,NaN,NaN,NaN,-25.0,NaN,NaN
2014-01-02 09:20:00,2014-01-02 09:20:00,HSI1401,23401.0,23405.0,23384.0,23403.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2014-01-02 09:21:00,2014-01-02 09:21:00,HSI1401,23403.0,23418.0,23401.0,23415.0,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN
2014-01-02 09:22:00,2014-01-02 09:22:00,HSI1401,23415.0,23430.0,23415.0,23430.0,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN
2014-01-02 09:23:00,2014-01-02 09:23:00,HSI1401,23430.0,23497.0,23430.0,23456.0,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN
2014-01-02 09:24:00,2014-01-02 09:24:00,HSI1401,23455.0,23469.0,23446.0,23447.0,NaN,NaN,NaN,NaN,NaN,-8.0,NaN,NaN
2014-01-02 09:25:00,2014-01-02 09:25:00,HSI1401,23449.0,23459.0,23447.0,23455.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN
2014-01-02 09:26:00,2014-01-02 09:26:00,HSI1401,23457.0,23465.0,23454.0,23465.0,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
2014-01-02 09:27:00,2014-01-02 09:27:00,HSI1401,23465.0,23487.0,23465.0,23475.0,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN
2014-01-02 09:28:00,2014-01-02 09:28:00,HSI1401,23474.0,23498.0,23471.0,23482.0,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
2014-01-02 09:29:00,2014-01-02 09:29:00,HSI1401,23483.0,23497.0,23479.0,23485.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2014-01-02 09:30:00,2014-01-02 09:30:00,HSI1401,23489.0,23512.0,23459.0,23463.0,NaN,NaN,NaN,NaN,NaN,-26.0,NaN,NaN
2014-01-02 09:31:00,2014-01-02 09:31:00,HSI1401,23463.0,23468.0,23451.0,23456.0,NaN,NaN,NaN,NaN,NaN,-7.0,NaN,NaN
2014-01-02 09:32:00,2014-01-02 09:32:00,HSI1401,23456.0,23471.0,23456.0,23468.0,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN
2014-01-02 09:33:00,2014-01-02 09:33:00,HSI1401,23469.0,23483.0,23468.0,23471.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2014-01-02 09:34:00,2014-01-02 09:34:00,HSI1401,23471.0,23472.0,23455.0,23466.0,9.020194,16.197372,-7.177178,NaN,NaN,-5.0,NaN,NaN
2014-01-02 09:35:00,2014-01-02 09:35:00,HSI1401,23466.0,23467.0,23432.0,23439.0,4.011047,13.760107,-9.749060,NaN,NaN,-27.0,NaN,NaN
2014-01-02 09:36:00,2014-01-02 09:36:00,HSI1401,23436.0,23437.0,23430.0,23430.0,-0.379583,10.932169,-11.311752,NaN,NaN,-6.0,NaN,NaN
2014-01-02 09:37:00,2014-01-02 09:37:00,HSI1401,23430.0,23435.0,23411.0,23411.0,-5.522069,7.641322,-13.163391,NaN,NaN,-19.0,NaN,NaN
2014-01-02 09:38:00,2014-01-02 09:38:00,HSI1401,23412.0,23425.0,23405.0,23416.0,-7.728097,4.567438,-12.295535,NaN,NaN,4.0,NaN,NaN
2014-01-02 09:39:00,2014-01-02 09:39:00,HSI1401,23416.0,23431.0,23406.0,23406.0,-10.040395,1.645871,-11.686266,NaN,NaN,-10.0,NaN,NaN
2014-01-02 09:40:00,2014-01-02 09:40:00,HSI1401,23405.0,23406.0,23362.0,23379.0,-14.557041,-1.594711,-12.962330,NaN,NaN,-26.0,NaN,NaN
2014-01-02 09:41:00,2014-01-02 09:41:00,HSI1401,23378.0,23409.0,23372.0,23397.0,-14.273386,-4.130446,-10.142940,NaN,NaN,19.0,NaN,NaN
2014-01-02 09:42:00,2014-01-02 09:42:00,HSI1401,23397.0,23398.0,23390.0,23393.0,-14.002017,-6.104760,-7.897257,NaN,NaN,-4.0,NaN,NaN
2014-01-02 09:43:00,2014-01-02 09:43:00,HSI1401,23395.0,23396.0,23339.0,23355.0,-18.233518,-8.530512,-9.703007,NaN,NaN,-40.0,NaN,NaN
2014-01-02 09:44:00,2014-01-02 09:44:00,HSI1401,23357.0,23372.0,23352.0,23367.0,-18.407128,-10.505835,-7.901293,23428.500000,NaN,10.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-29 16:01:00,2019-03-29 16:01:00,HSI1904,29114.0,29120.0,29100.0,29100.0,-3.632310,-1.313119,-2.319191,29115.704023,29112.375514,-14.0,4.768269,-2.936076
2019-03-29 16:02:00,2019-03-29 16:02:00,HSI1904,29100.0,29114.0,29099.0,29110.0,-3.132060,-1.676907,-1.455152,29115.336022,29112.297628,10.0,4.800000,2.083333
2019-03-29 16:03:00,2019-03-29 16:03:00,HSI1904,29109.0,29113.0,29102.0,29107.0,-3.087642,-1.959054,-1.128588,29114.798214,29112.123936,-2.0,4.776214,-0.418742
2019-03-29 16:04:00,2019-03-29 16:04:00,HSI1904,29107.0,29107.0,29095.0,29100.0,-3.848153,-2.336874,-1.511279,29113.843491,29111.726430,-7.0,4.860813,-1.440088
2019-03-29 16:05:00,2019-03-29 16:05:00,HSI1904,29100.0,29102.0,29088.0,29088.0,-5.721070,-3.013713,-2.707357,29112.176169,29110.948514,-12.0,5.105852,-2.350244
2019-03-29 16:06:00,2019-03-29 16:06:00,HSI1904,29089.0,29093.0,29085.0,29092.0,-6.074105,-3.625792,-2.448313,29110.874480,29110.327251,3.0,5.118024,0.586164
2019-03-29 16:07:00,2019-03-29 16:07:00,HSI1904,29094.0,29105.0,29092.0,29105.0,-4.306199,-3.761873,-0.544325,29110.495482,29110.152587,11.0,5.294546,2.077609
2019-03-29 16:08:00,2019-03-29 16:08:00,HSI1904,29104.0,29131.0,29103.0,29124.0,-0.542906,-3.118080,2.575174,29111.366741,29110.606601,20.0,5.673036,3.525449
2019-03-29 16:09:00,2019-03-29 16:09:00,HSI1904,29125.0,29180.0,29123.0,29177.0,8.744487,-0.745566,9.490053,29115.601145,29112.783433,52.0,8.698020,5.978372
2019-03-29 16:10:00,2019-03-29 16:10:00,HSI1904,29178.0,29181.0,29151.0,29155.0,11.072274,1.618002,9.454273,29118.143006,29114.167583,-23.0,9.215612,-2.495765
2019-03-29 16:11:00,2019-03-29 16:11:00,HSI1904,29154.0,29156.0,29139.0,29139.0,9.882595,3.270921,6.611675,29119.488619,29114.981761,-15.0,9.436263,-1.589612
2019-03-29 16:12:00,2019-03-29 16:12:00,HSI1904,29140.0,29140.0,29123.0,29123.0,6.619269,3.940590,2.678679,29119.715159,29115.244654,-17.0,9.694715,-1.753533
2019-03-29 16:13:00,2019-03-29 16:13:00,HSI1904,29123.0,29125.0,29113.0,29117.0,3.564763,3.865425,-0.300662,29119.539988,29115.302206,-6.0,9.727053,-0.616836
2019-03-29 16:14:00,2019-03-29 16:14:00,HSI1904,29117.0,29123.0,29102.0,29106.0,0.111390,3.114618,-3.003227,29118.666440,29114.997216,-11.0,9.827668,-1.119289
2019-03-29 16:15:00,2019-03-29 16:15:00,HSI1904,29105.0,29106.0,29098.0,29101.0,-2.640050,1.963684,-4.603734,29117.526670,29114.538291,-4.0,9.832712,-0.406805
2019-03-29 16:16:00,2019-03-29 16:16:00,HSI1904,29100.0,29106.0,29086.0,29087.0,-6.033115,0.364324,-6.397440,29115.557207,29113.635396,-13.0,9.951326,-1.306359
2019-03-29 16:17:00,2019-03-29 16:17:00,HSI1904,29086.0,29088.0,29077.0,29079.0,-8.873623,-1.483265,-7.390358,29113.198678,29112.499809,-7.0,9.982763,-0.701209
2019-03-29 16:18:00,2019-03-29 16:18:00,HSI1904,29079.0,29084.0,29074.0,29075.0,-10.727836,-3.332179,-7.395657,29110.734247,29111.270307,-4.0,9.993484,-0.400261
2019-03-29 16:19:00,2019-03-29 16:19:00,HSI1904,29074.0,29075.0,29066.0,29073.0,-11.640697,-4.993883,-6.646815,29108.299779,29110.015543,-1.0,9.993665,-0.100063
2019-03-29 16:20:00,2019-03-29 16:20:00,HSI1904,29072.0,29083.0,29066.0,29077.0,-11.153275,-6.225761,-4.927514,29106.280439,29108.933066,5.0,10.017152,0.499144
2019-03-29 16:21:00,2019-03-29 16:21:00,HSI1904,29077.0,29083.0,29076.0,29080.0,-9.972821,-6.975173,-2.997648,29104.584927,29107.984441,3.0,10.014143,0.299576
2019-03-29 16:22:00,2019-03-29 16:22:00,HSI1904,29080.0,29089.0,29079.0,29083.0,-8.425390,-7.265217,-1.160173,29103.192351,29107.165279,3.0,10.009773,0.299707
2019-03-29 16:23:00,2019-03-29 16:23:00,HSI1904,29083.0,29086.0,29083.0,29083.0,-7.119782,-7.236130,0.116347,29101.889618,29106.372975,0.0,9.988035,0.000000
2019-03-29 16:24:00,2019-03-29 16:24:00,HSI1904,29085.0,29089.0,29080.0,29086.0,-5.622117,-6.913327,1.291210,29100.864482,29105.705008,1.0,9.974634,0.100254
2019-03-29 16:25:00,2019-03-29 16:25:00,HSI1904,29087.0,29091.0,29071.0,29071.0,-6.447831,-6.820228,0.372397,29098.937741,29104.567139,-16.0,10.175938,-1.572337
2019-03-29 16:26:00,2019-03-29 16:26:00,HSI1904,29071.0,29073.0,29062.0,29063.0,-7.718412,-6.999865,-0.718547,29096.619177,29103.204282,-8.0,10.195260,-0.784678
2019-03-29 16:27:00,2019-03-29 16:27:00,HSI1904,29062.0,29064.0,29052.0,29052.0,-9.597625,-7.519417,-2.078208,29093.740520,29101.525453,-10.0,10.242667,-0.976308
2019-03-29 16:28:00,2019-03-29 16:28:00,HSI1904,29052.0,29077.0,29051.0,29072.0,-7.674176,-7.550369,-0.123808,29092.337906,29100.557406,20.0,10.580170,1.890329
2019-03-29 16:29:00,2019-03-29 16:29:00,HSI1904,29073.0,29079.0,29066.0,29076.0,-5.646854,-7.169666,1.522812,29091.283848,29099.752245,3.0,10.545879,0.284471
2019-03-29 16:30:00,2019-03-29 16:30:00,HSI1904,29077.0,29077.0,29077.0,29077.0,-4.041467,-6.544026,2.502559,29090.362309,29099.006270,0.0,10.501257,0.000000

In [31]:
df2[(df2.State==1) & (df2.Day==1)]['Diff'].agg(['max','min','mean','std'])

max     893.000000
min    -992.000000
mean     -0.072913
std      45.811485
Name: Diff, dtype: float64

In [32]:
df2[df2.State==1]['Count'].agg(['max','min','mean','std'])

max     157.00000
min       1.00000
mean     13.26239
std      13.48442
Name: Count, dtype: float64

In [44]:
df2['hh']=df2.apply(lambda x:x.Begin.time().hour,axis=1)
df2[df2.State==1].groupby('hh')['Diff'].agg(['max','min','mean','std','count'])

      max    min       mean        std  count
hh
0   589.0 -992.0  -1.061135  89.104121    687
9   882.0 -235.0   0.349847  59.895631   1958
10  489.0 -105.0   0.440603  40.222055   2921
11  457.0 -451.0   0.082313  35.316139   2940
12    0.0 -142.0 -38.200000  58.942345      5
13  498.0  -82.0  -1.740180  30.936376   3106
14  439.0 -108.0  -0.388438  31.849561   2958
15  380.0 -440.0   0.187910  38.575829   2895
16  329.0 -566.0   1.058598  41.184382   1041
17  427.0 -146.0  -0.287754  20.635524   1821
18  376.0  -59.0  -0.027153  20.590771   2578
19  130.0  -57.0  -1.738434  13.734177   2745
20  220.0  -86.0  -1.847252  15.291487   2802
21  637.0  -72.0  -0.373411  25.961663   2911
22  430.0 -375.0   0.116762  36.026255   2792
23  893.0 -766.0   2.266773  60.497702   1878

In [24]:
time1=dt.time(9,15,0)
time2=dt.time(16,30,0)
newDF=df1[(df1.datetime.dt.time>=time1)&(df1.datetime.dt.time<=time2)]
newDF.head(10)

,datetime,code,open,high,low,close,MACD,MACD1,MACD2,MA30,MA60,CHG,STD60,STD1
datetime,,,,,,,,,,,,,,
2014-01-02 09:15:00,2014-01-02 09:15:00,HSI1401,23414.0,23416.0,23370.0,23376.0,NaN,NaN,NaN,NaN,NaN,-38.0,NaN,NaN
2014-01-02 09:16:00,2014-01-02 09:16:00,HSI1401,23376.0,23394.0,23360.0,23394.0,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
2014-01-02 09:17:00,2014-01-02 09:17:00,HSI1401,23395.0,23444.0,23391.0,23431.0,NaN,NaN,NaN,NaN,NaN,36.0,NaN,NaN
2014-01-02 09:18:00,2014-01-02 09:18:00,HSI1401,23432.0,23435.0,23419.0,23423.0,NaN,NaN,NaN,NaN,NaN,-9.0,NaN,NaN
2014-01-02 09:19:00,2014-01-02 09:19:00,HSI1401,23426.0,23426.0,23390.0,23401.0,NaN,NaN,NaN,NaN,NaN,-25.0,NaN,NaN
2014-01-02 09:20:00,2014-01-02 09:20:00,HSI1401,23401.0,23405.0,23384.0,23403.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2014-01-02 09:21:00,2014-01-02 09:21:00,HSI1401,23403.0,23418.0,23401.0,23415.0,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN
2014-01-02 09:22:00,2014-01-02 09:22:00,HSI1401,23415.0,23430.0,23415.0,23430.0,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN
2014-01-02 09:23:00,2014-01-02 09:23:00,HSI1401,23430.0,23497.0,23430.0,23456.0,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN
2014-01-02 09:24:00,2014-01-02 09:24:00,HSI1401,23455.0,23469.0,23446.0,23447.0,NaN,NaN,NaN,NaN,NaN,-8.0,NaN,NaN

In [96]:
def Calc(Date):
# Date='2014-01-06'
    D1=newDF[str(Date)]
    STD=1.5
    Res={}
    Res['STD_CNT']=0
    Res['State']=0
    Res['Trade']=[]
    Trade={}
    Trade['Open']=[]
    for Row in D1.iterrows():
        Rec=Row[1]

        if Rec['MACD']<0 and Res['State']==2:
            Trade['Date']=Date
            Trade['Close']=Rec['close']
            Trade['Profit']=[Rec['close']-i for i in Trade['Open']]
            Trade['Profits']=sum(Trade['Profit'])
            Trade['Count']=len(Trade['Profit'])
            Res['Trade'].append(Trade)
#             print(Trade)
            Res['State']=0
            Res['STD_CNT']=0
            Trade={}
            Trade['Open']=[]
        elif Rec['MACD']<0:
            Res['State']=0
            Res['STD_CNT']=0
            Trade={}
            Trade['Open']=[]
        elif Res['State']==0:
            Res['State']=1
        if Rec['STD1']>STD and Res['State']>0:
            Res['STD_CNT']+=1
            if Res['STD_CNT']>=3:
                Trade['Open'].append(Rec['close'])
    #             print(Row[0],Res['STD_CNT'],Rec['close'])
                Res['State']=2
    return Res['Trade']

In [101]:
dl=newDF.datetime.dt.date.unique()
#固定止损
Data=[]
time1=dt.datetime.now()
for dd in dl:
    get=Calc(dd)
    if len(get)>0:
        for i in get:
            Data.append(i)
time2=dt.datetime.now()
print(time2-time1)

0:00:34.545976

In [115]:
F=pd.DataFrame(Data)
# Data
F.head()

,Close,Count,Date,Open,Profit,Profits
0,23354.0,5,2014-01-02,"[23292.0, 23317.0, 23327.0, 23357.0, 23377.0]","[62.0, 37.0, 27.0, -3.0, -23.0]",100.0
1,22654.0,1,2014-01-06,[22669.0],[-15.0],-15.0
2,22726.0,8,2014-01-06,"[22654.0, 22666.0, 22682.0, 22690.0, 22712.0, ...","[72.0, 60.0, 44.0, 36.0, 14.0, -2.0, -6.0, -12.0]",206.0
3,22689.0,1,2014-01-07,[22702.0],[-13.0],-13.0
4,22758.0,5,2014-01-08,"[22780.0, 22786.0, 22798.0, 22782.0, 22793.0]","[-22.0, -28.0, -40.0, -24.0, -35.0]",-149.0

In [123]:
F[['Count','Profits']].groupby('Count').agg(['sum','mean','count'])

       Profits
           sum         mean count
Count
1     -28283.0   -30.642470   923
2     -28206.0   -51.470803   548
3     -16999.0   -49.130058   346
4      -9442.0   -47.686869   198
5       2924.0    23.580645   124
6       5936.0    69.835294    85
7       7508.0   147.215686    51
8       9133.0   365.320000    25
9       6253.0   297.761905    21
10     10415.0   743.928571    14
11     10295.0   935.909091    11
12      4960.0  1240.000000     4
13      2484.0  1242.000000     2
14      3680.0  1840.000000     2
15      1557.0  1557.000000     1